In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./datasets/Data_unido_2018_2021.csv')
data.head(2)

C:\Users\hp\AppData\Local\Temp\ipykernel_15488\3851317623.py:1: DtypeWarning: Columns (13,28,29,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./datasets/Data_unido_2018_2021.csv')

,año,mes,fecha_ingreso,referida,estado_civil,edad,institucion_derechohab,nivel_edu,ocupacion,religion,...,semanas_gestacion_usg,dias_gestacion_usg,firma_consentimiento,se_complica,con_dolor,analgesico,anticonceptivo_post,fecha_cierre,resultado_ile,procedimiento_ile
0,2016,ABRIL,2016-04-01,NaN,SOLTERA,24,NINGUNO,PREPARATORIA,ESTUDIANTE,NINGUNA,...,3.0,NaN,NaN,NaN,NaN,NaN,CONDON,2016-04-08,COMPLETA,MEDICAMENTO
1,2016,ABRIL,2016-04-01,NaN,SOLTERA,30,NINGUNO,SECUNDARIA,TRABAJADORA DEL HOGAR NO REMUNERADA,CATOLICA,...,6.0,NaN,NaN,NaN,NaN,NaN,CONDON,2016-04-08,COMPLETA,MEDICAMENTO
2,2016,ABRIL,2016-04-01,NaN,CASADA,38,NINGUNO,SIN ACCESO A LA EDUCACION FORMAL,TRABAJADORA DEL HOGAR NO REMUNERADA,CATOLICA,...,2.0,NaN,NaN,NaN,NaN,NaN,CONDON,2016-04-08,COMPLETA,MEDICAMENTO
3,2016,ABRIL,2016-04-01,NaN,SOLTERA,23,NINGUNO,PREPARATORIA,EMPLEADA,NINGUNA,...,1.0,NaN,NaN,NaN,NaN,NaN,CONDON,2016-04-08,COMPLETA,MEDICAMENTO
4,2016,ABRIL,2016-04-01,NaN,SOLTERA,18,NINGUNO,SECUNDARIA,ESTUDIANTE,NINGUNA,...,0.0,NaN,NaN,NaN,NaN,NaN,NINGUNO,2016-04-15,OTRO,MEDICAMENTO

In [41]:
def generar_tabla_tiempo(x, path = './tablas/tabla_tiempo_ile.csv', columna = 'fecha_ingreso', ile = False):
    """
    Función para generar tabla de tiempo, en esta función toma una columna 
    y la divide en sus partes (dia, mes, año), crea un id para la tabla, 
    si es ILE agrega eso más la fecha junta.
    
    x : dataframe que proviene de un archivo csv
    path : ubicacion para guardar el archivo csv que genera esta función
    columna : Columna que seleccionamos del dataframe para separar dicha fecha 
    maternidad : valor booleano que define que tipo de dataset va a ser tratado
    """
    
    if ile:
        # Guardamos la columna en una varialbe temporal
        fechas = x[columna]
        
        # Creamos los valores de cada columna
        id = ['ile' + ''.join(fecha.strip()) for fecha in fechas]
        dia = [fecha.strip()[2] for fecha in fechas]
        mes = [fecha.strip()[1] for fecha in fechas]
        anio = [fecha.strip()[0] for fecha in fechas]
        ile = [1 for fecha in fechas]
        fecha_nac = [float('nan') for fecha in fechas]
        natalidad = [0 for fecha in fechas]
        fecha_ing = x['fecha_ingeso']
        
        # Creamos un diccionario que posteriormente sera un archivo csv
        tabla_tiempo_ile = {
            'Id_tiempo':id,
            'Año' : anio,
            'Mes': mes,
            'Dia' : dia,
            'Fecha_ingreso' : fecha_ing,
            'Fecha_nacimiento' : fecha_nac,
            'ILE' : ile,
            'Natalidad' : natalidad
        }
        
        # Guardamos el archivo csv
        pd.DataFrame(tabla_tiempo_ile).to_csv(path, index=False)
    
    else:
        fechas = x[columna]
        
        # Creamos las columnas del archivo csv
        anio = [fecha.strip()[0] for fecha in fechas]
        mes = [fecha.strip()[1] for fecha in fechas]
        dia = [fecha.strip()[2] for fecha in fechas]
        id = ['nat' + ''.join(fecha.strip()) for fecha in fechas]
        ile = [float('nan') for fecha in fechas]
        fecha_nac = [fecha for fecha in fechas]
        natalidad = [1 for fecha in fechas]
        fecha_ing = [float('nan') for fecha in fechas]
        
        # Creamos el diccionario que posteriormente sera nuestro archivo csv
        tabla_tiempo = {
            'Id_tiempo' : id,
            'Año' : anio,
            'Mes': mes,
            'Dia' : dia,
            'Fecha_ingreso' : fecha_ing,
            'Fecha_nacimiento' : fecha_nac,
            'ILE' : ile,
            'Natalidad' : natalidad            
        }
        
        # Intentamos abrir si ya existe el otro archivo
        try:
            uni = pd.read_csv(path)
            
            juntos = uni.append(pd.DataFrame(tabla_tiempo))
            juntos.to_csv('./tablas/tiempojunta.csv', index=False)
        except:
            print('No es posible escribir el archivo')

In [82]:
def medicina(x, path = './tablas/medicina.csv'):
    """
    Funciona para crear la tabla de datos de las personas, enofacado más en los parametros sexuales

    x : dataFrame
    path : ubicación donde guardar el archivo csv
    """
    dat = x[x.columns[13:27].values]

    pd.DataFrame(dat).to_csv(path, index=False)

In [123]:
def get_table_medicina(x = pd.DataFrame(), path ='./tablas/medicina.csv'):
    """
    Funcion que genera tabla de medicina para el archivo ILE del proyecto
    x : Data frame del archivo previamente leido
    path : ubicacion donde se va a guardar el archivo generado por esta función.
    """
    med = x[x.columns[14:28].values]
    id_med = [i for i in range(np.shape(med)[0])]
    
    med.insert(0, 'ID_med', id_med)

    pd.DataFrame(med).to_csv(path, index = False)

In [130]:
def get_table_ILE(x = pd.DataFrame(), path = './tablas/ILE.csv'):
    """
    Función que sirve para generar la tabla de ILE, que contiene datos especificos 
    acerca del ILE de cada persona.
    
    x : Data frame del archivo csv previamente leido
    path : ubicacion donde se va a guardar el archivo csv que genera esta función
    """

    mot = x['motivos_interrupcion']
    analg = x['analgesico']
    anti = x['anticonceptivo_post']
    res = x['resultado_ile']
    procd = x['procedimiento_ile']

    id_ile = [i for i in range(np.shape(mot)[0])]

    dic = {
        'id_ile': id_ile,
        'Motivos_interrupción' : mot,
        'Analgesico' : analg, 
        'Anticonceptivo_post' : anti,
        'Resultado_ile' : res,
        'Procediminiento_ile' : procd
    }

    pd.DataFrame(dic).to_csv(path, index = False)

In [132]:
get_table_medicina(data)

## Dataset Natalidad

In [59]:
def get_geo(x, path = './tablas/Geografia.csv', columna = 'alc_o_municipio',ile = True):
    """
    Función que crea la tabla Geografia para la base de datos csv
    x : Dataframe
    path : ruta donde se va a guardar el archivo csv
    """

    alcaldias_min = ['Alvaro Obregon', 'Azcapotzalco', 'Benito Juarez', 'Coyoacan', 'Cuajimalpa de Morelos', 'Cuauhtemoc', 'Gustavo A. Madero', 'Iztacalco','Iztapalapa', 'Magdalena Contreras', 'Miguel Hidalgo', 'Milpa Alta', 'Tlahuac', 'Talpan', 'Venustiano Carranza', 'Xochimilco']
    
    alcaldias = ['ÁLVARO OBREGÓN', 'AZCAPOTZALCO', 'BENÍTO JUÁREZ', 'COYOACÁN', 'CUAJIMALPA DE MORELOS', 'CUAUHTÉMOC', 'GUSTAVO A. MADERO', 'IZTACALCO','IZTAPALAPA', 'MAGDALENA CONTRERAS', 'MIGUEL HIDALGO', 'MILPA ALTA', 'TLÁHUAC', 'TLALPAN', 'VENUSTIANO CARRANZA', 'XOCHIMILCO']
    
    
    if ile:
        # municipios = x[columna]
        # lon = np.shape(municipios)
        
        municipios = x[columna]
        le = np.shape(municipios)
        estado = list()
        # lon = np.shape(municipios)

        pais = ['México' for i in range(le[0])]
        
        for municipio in municipios:
            if municipio in alcaldias:
                estado.append('Ciudad de México')
            else:
                estado.append('Edo. de México')
        
        id = [i for i in range(le[0])]
        est_nac = ['Null' for i in range(le[0])]
        mun_nac = ['Null' for i in range(le[0])]



        dat = {
            'Id_Geo' : id,
            'Pais' : pais,
            'Estado_nacimiento' : est_nac,
            'Mun_alc_nacimiento' : mun_nac,
            'Entidad_ILE' : estado,
            'Alc_o_mun_ILE' : municipios
            }

        pd.DataFrame(dat).to_csv(path, index=False)
    
    else:    
        # Obtenemos la columan con la que vamos a trabajar
        nat_mun = x[columna]
        inicio = 90041
        final = inicio + np.shape(nat_mun)[0]
        
        
        id = [i for i in range(inicio, final + 1)]
        pais = ['México' for i in nat_mun]
        estado = [float('nan') for mun in nat_mun]
        municipios = [float('nan') for num in nat_mun]
        
        est_nac = list()
        
        for municipio in nat_mun:
            if municipio in alcaldias_min:
                est_nac.append('Ciudad de México')
            else:
                est_nac.append('Edo. de México')
        
        nat_dic = {
            'Id_Geo' : id,
            'Pais' : pais,
            'Estado_nacimiento' : est_nac,
            'Mun_alc_nacimiento' : nat_mun,
            'Entidad_ILE' : estado,
            'Alc_o_mun_ILE' : municipios
        }
        
        # try:
        ile_geo = pd.read_csv(path)
        unido = ile_geo.append(pd.DataFrame(nat_dic))
        unido.to_csv('./tablas/geo_unida.csv', index=False)
        # except:
            # print('No se pudo completar')

In [8]:
nat = pd.read_csv('./datasets/Natalidad_2016-2021.csv', encoding='utf-8')
nat.head(2)

,anio,mes,fecha_nacimiento,sexo,pais_nacimiento,estado_nacimiento,mun_alc_nacimiento,tutora_1_edad,tutora_1_sexo,tutora_1_nacionalidad,tutora_2_edad,tutora_2_sexo,tutora_2_nacionalidad
0,2016,Enero,2016-01-01,Mujer,MÃ©xico,Ciudad de MÃ©xico,Cuauhtemoc,32.0,Hombre,MÃ©xico,32.0,Mujer,MÃ©xico
1,2016,Enero,2016-01-01,Mujer,MÃ©xico,Ciudad de MÃ©xico,Venustiano Carranza,16.0,Hombre,MÃ©xico,15.0,Mujer,MÃ©xico

In [40]:
generar_tabla_tiempo(nat, columna='fecha_nacimiento')

C:\Users\rod_e\AppData\Local\Temp\ipykernel_16708\2857782416.py:71: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  juntos = uni.append(pd.DataFrame(tabla_tiempo))

In [60]:
get_geo(nat, columna='fecha_nacimiento', ile=False)

ValueError: All arrays must be of the same length